@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #25272F;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

.bg-green {
  background-color: #1A5D1A;
}

.bg-light-green {
  background-color: #00E600;
}

.text-green {
  color: #00E600;
}

.wrapper {
  background: rgba(175, 175, 175, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border-radius: 25px;
  border: 2px solid #00E600;
}

ul li a {
  color: #56C6DF;
}

ul li a:hover {
  color: #00E600;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #696969;
  font-weight: 400;
  font-size: small;
}

.form-control,
.form-select {
  color: #000000;
  font-weight: 500;
  font-size: medium;
}